Repository google/or-tools, pull requests merged in 2020-05, with the labels that each got.

#2020 Register dimension callback as unary
  examples/python/cvrptw_plot.py
Labels: Lang: Python, Solver: Routing Solver

#2022 Remove redundant isinstance
  ortools/sat/python/cp_model_helper.py
Labels: Bug, Lang: Python, Solver: CP / CP-SAT Solver

#2024 Remove redundant CapInt64
  ortools/sat/python/cp_model.py
Labels: Feature Request, Lang: Python, Solver: CP / CP-SAT Solver
