Repository google/or-tools, pull requests merged in 2020-01, with the labels that each got.

#1838 Correct a Java SWIG type mapping that produces SEGV crashes
  ortools/util/java/vector.i
Labels: Bug, Lang: Java

#1733 Fix zlib patch directory with add_directory
  cmake/dependencies/CMakeLists.txt
Labels: Bug, Build: CMake

#1843 feat: Expose the GetStartIndex and GetEndIndex methods of RouteIndexManager for the Java wrapper
  ortools/constraint_solver/java/routing_index_manager.i
Labels: Feature Request, Lang: Java, Solver: Routing Solver
