Repository google/or-tools, pull requests merged in 2021-09, with the labels that each got.

#2530 [CP-SAT][Python] Use DeprecationWarning
  ortools/sat/python/cp_model.py
Labels: Feature Request, Lang: Python, Solver: CP-SAT Solver

#2721 Update Makefile.port.mk
  makefiles/Makefile.port.mk
Labels: Bug, OS: Mac, Lang: C++, Build: Makefile

#2250 Feature/routing breaks example
  makefiles/Makefile.python.mk
  ortools/constraint_solver/samples/cvrptw_breaks_intvar.py
  ortools/constraint_solver/samples/vrp_breaks_from_start.py
Labels: Feature Request, Lang: Python, routing_break

#2790 Typo in clang-format
  .clang-format
Labels: Bug
